body {background-color: yellowgreen;
}
#header {
    position: relative;
    background-image: url("img/kpto4.jpg");
    border: 0px;
    width: 100%;
    height: 600px;
    border:6px solid rgb(186, 9, 221) ;
    border-radius: 30px;
    margin-bottom:0px;
    font-size: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color:wheat;
}
#sidebar {
    background-color:rgb(30, 206, 168);
        position: relative;
        display: inline-block;
        padding: 30px; 
        width: 22%;
        height: 300px;
        height: 400px;
        margin-right: 0px;
        border: 6px solid rgb(186, 9, 221);
        color: teal;
        margin-top: 50px;
        border-radius: 30px;
    }
#content {
    background-color: rgb(30, 206, 168);
    position: relative;
    display: inline-block;
    padding: 30px; 
    width: 60%;
    height: 400px;
    float: right;
    text-align: center;
    margin-left: 0px;
    border: 6px solid rgb(186, 9, 221);
    border-radius: 30px;
    margin-top: 50px;
}
a {
    color: thistle;
    font-size: 20px;
    font-family: unset;
    border: 2px solid rgb(238, 49, 2);
    padding: 6px 15px;
    background-color: gray;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    font-family: unset;
}
h1 {
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
}
form  {
    color: red;
    width: 500px;
    height:300px;
    border: 3px solid green;
    background-color: hotpink;
    margin-left: 100px;
    border-radius: 25px;
}
#vvod1{
    margin-top: 30px;
}
#vvod {
    margin-top: 20px;
}
h2 {
    font-size: 30px;
    font-family: fantasy;
}